html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-font-smoothing:antialiased; /* Nicer looking font on Chrome */
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 1%;
  width: 100%;
}

.header-image {
  background-image: url('http://placehold.it/350x350');
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.header-content {
  padding-top: 10vh;
}

.page-nav ul li a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Oswald', serif;
  letter-spacing: 0.1rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
}

.page-nav {
  padding-top: 0.3rem;
  z-index: 150;
  position: relative;
  height: 5rem;
  margin-bottom: -80px;
}

.main {
  padding: 110px 50px 50px;
  column-count: 2;
  column-gap: 40px;
}

.page-nav ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

.page-nav a {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.page-nav p {
  padding-top: 0.3rem;
  font-size: 0.9rem;
  max-width: 100%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  margin: 0.5rem;
}

.page-nav a:active {
  margin-top: -5px;
  font-size: 1.2rem;
}

.page-nav i {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0.3rem;
}

.page-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.page-nav a {
  padding-left: 0;
  padding-right: 0;
  max-width: 4rem;
}

.page-nav {
  padding-bottom: 5.5rem;
}

.page-header {
  padding-top: 50px;
  text-transform: uppercase;
  text-align: center;
}

.page-header h1 {
  padding-bottom: 0.5rem;
  padding-top: 12.5rem;
  max-width: 10rem;
  justify-content: center;
  display: inline;
  font-size: 3rem;
}

.page-header p {
  font-size: 1.5rem;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container-content p {
  margin-left: auto;
  margin-right: auto;
}

.container-content p a {
  font-weight: bold;
}

.container-content h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

section, .header-content {
  padding-left: 5%;
  padding-right: 5%;
}

.image-gallery-container {
  padding-left: 5%;
  padding-right: 5%;
}

.image-gallery-container .an-image .image-caption {
  margin-bottom: 50px;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

input, label {
  margin-top: 0.5rem;
  width: 10rem;
}

label {
  margin-right: 2rem;
}

.contact-me input, .contact-me label, .contact-me textarea, .contact-me h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5rem;
}

textarea {
  width: 20rem;
}

.button {
	cursor:pointer;
	font-family:Arial;
	font-size:0.9rem;
	font-weight:bold;
  text-align: center;
  max-width: 100%;
  padding: 0.7rem;
	text-decoration:none;
  text-transform: uppercase;
}

.contact-me h2, .form-show {
  display: flex;
  justify-content: center;
}

.form-hide {
  display: none;
}

footer {
  padding-top: 0.2rem;
  position: relative;
  height: 5rem;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.page-nav a:hover, footer a:hover, .theme-toggle:hover {
  font-weight: bold;
}

@media screen and (min-width:650px) {

  .page-nav ul {
    justify-content: center;
  }

  .page-nav ul li {
    padding-left: 35px;
    padding-right: 35px;
  }

  section, .header-content {
    padding-left: 15%;
    padding-right: 15%;
  }

  .image-gallery-container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (min-width:840px) {

  section, .header-content {
    padding-left: 20%;
    padding-right: 20%;
  }

  .image-gallery-container {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media screen and (min-width: 1000px) {
  .image-gallery-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 1280px) {
  .image-gallery-container .container-content .content {
    column-count: 3;
    column-gap: 40px;
  }

  .image-gallery-container .an-image .image-caption {
    margin-bottom: 0;
  }


  section, .header-content {
    padding-left: 30%;
    padding-right: 30%;
  }

  .page-nav ul li {
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-nav ul li a {
    max-width: 100%;
  }

  .image-gallery-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
