
/* Box sizing and base styling*/

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-font-smoothing:antialiased; /* Nicer looking font on Chrome */
}

body {
  margin: 0;
  font-size: 1.05rem;
  line-height: 1.9rem;
  text-align: justify; /* suggestion from https://www.reddit.com/r/web_design/comments/5vxy8c/feedback_friday_february_24_2017/dedxha8/ */
}

img {
  max-width: 100%;
  height: auto;
}

/* Fonts */

h1, h2, .header-content p {
  font-family: 'Avenir', 'Lato', serif; /*Avenir is Mac only*/
  font-weight: 300;
}

p, textarea, input {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

/* Header */

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 1%;
  width: 100%;
}

.header-content {
  margin-top: 25vh;
  text-transform: uppercase;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.header-image {
  background-image: url('http://placehold.it/350x350');
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.header-content h1 {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  max-width: 10rem;
  justify-content: center;
  display: inline;
}

.header-content p {
  font-size: 1.6rem;
}

/* Navigation */

.page-nav {
  padding-bottom: 5.5rem;
  z-index: 150;
  position: relative;
  height: 5rem;
  margin-bottom: -80px;
}

.page-nav ul {
  margin: 0;
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

.page-nav ul li a {
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
  max-width: 4rem;
}

@media screen and (min-width:768px) {
  .page-nav a:active {
    margin-top: -5px;
    font-size: 1.2rem;
  }
}

.page-nav a:hover, footer a:hover, .theme-toggle:hover {
  font-weight: bold;
}

.page-nav i {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0.3rem;
}

.page-nav p {
  padding-top: 0.3rem;
  font-size: 0.9rem;
  line-height: normal;
  max-width: 100%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  margin: 0.5rem;
}

.page-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

/* Section */

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 5%;
  padding-right: 5%;
}

/* Container Content */

.container-content p {
  margin-left: auto;
  margin-right: auto;
}

.container-content p a {
  font-weight: bold;
}

.container-content h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

/* Image Gallery */

.image-gallery-container {
  padding-left: 5%;
  padding-right: 5%;
}

.image-gallery-container .an-image .image-caption {
  margin-bottom: 50px;
  font-size: 1rem;
  line-height: 1.7rem;
  text-align: justify; /* suggestions from https://www.reddit.com/r/web_design/comments/5vxy8c/feedback_friday_february_24_2017/dedxha8/ */
}

/* Form */

input, label {
  margin-top: 0.5rem;
  width: 10rem;
}

label {
  margin-right: 2rem;
}

 input, label, textarea, .contact-me h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5rem;
}

textarea {
  width: 15rem;
}

.button {
	cursor:pointer;
	font-family:Arial;
	font-size:0.9rem;
	font-weight:bold;
  text-align: center;
  max-width: 100%;
  padding: 0.7rem;
	text-decoration:none;
  text-transform: uppercase;
}

.contact-me h2, .form-show {
  display: flex;
  justify-content: center;
}

.form-hide {
  display: none;
}

/* Footer */

footer {
  padding-top: 0.2rem;
  position: relative;
  height: 5rem;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

/* Media Queries */

/* Small */

@media screen and (min-width:650px) {

  .page-nav ul {
    justify-content: center;
    flex-wrap: nowrap;
  }

  .page-nav ul li {
    padding-left: 35px;
    padding-right: 35px;
  }

  section, header {
    padding-left: 15%;
    padding-right: 15%;
  }

  .header-content h1 {
    font-size: 3rem;
  }

  .image-gallery-container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .form-show textarea {
    width: 20rem;
    font-size: 0.9rem;
  }
}

/* Medium */

@media screen and (min-width:840px) {

  section {
    padding-left: 25%;
    padding-right: 25%;
  }

  .image-gallery-container {
    padding-left: 25%;
    padding-right: 25%;
  }
}

/* Medium-Wide */
@media screen and (min-width: 1000px) {
  .image-gallery-container {
    padding-left: 30%;
    padding-right: 30%;
  }

  section {
    padding-left: 30%;
    padding-right: 30%;
  }
}

/* Extra-Wide */

@media screen and (min-width: 1280px) {
  .image-gallery-container .container-content .content {
    column-count: 3;
    column-gap: 40px;
  }

  .image-gallery-container .an-image {
    width: 27vw;
  }

  .image-gallery-container .an-image .image-caption {
    margin-bottom: 0;
  }


  .header-content {
    padding-left: 30%;
    padding-right: 30%;
  }

  section {
    padding-left: 30%;
    padding-right: 30%;
  }

  .page-nav ul li {
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-nav ul li a {
    max-width: 100%;
  }

  .image-gallery-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
