/* DON'T FORGET TO LOOK AT THE INSTRUCTIONS.MD FILE IN GITHUB */


/* These are some suggested groupings for your stylesheet... */


/* box sizing */

html {
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* element styling (e.g. standard p, h1, h2, a, etc) */

h1, h2 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.1rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95rem;
  text-align: center;
}

body section p {
  color: rgb(106, 106, 106);
}


/* flexible content images code */


/* navigation (using flexbox) */

.page-nav {
  padding-top: 0.3rem;
  background-color: rgb(195, 195, 195);
  z-index: 150;
  position: relative;
  height: 5rem;
  margin-bottom: -80px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.main {
  background: #f2f2e8;
  padding: 110px 50px 50px;
  column-count: 2;
  column-gap: 40px;
}

.page-nav ul {
  margin: 0;
  padding: 0!important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.page-nav a {
  padding-left: 2rem;
  padding-right: 1rem;
  text-decoration: none;
  display: inline-block;
  position: relative
}

.page-nav p {
  padding-top: 0rem;
  font-size: 0.9rem;
  max-width: 12rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.page-nav a, .page-nav a:link, .page-nav a:focus .page-nav a:visited, .page-nav a:hover {
  color: rgb(0, 0, 0);
}

.page-nav a:active {
  margin-top: -5px;
  color: #fff !important;
  font-size: 1.2rem;
}

.page-nav i {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0.3rem;
}

.page-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

@media only screen and (max-width: 650px) {
    .page-nav a {
      padding-left: 0;
      padding-right: 0;
      max-width: 140px;
    }

    .page-nav ul {
      justify-content: space-around;
    }
}

@media only screen and (max-width: 330px) {
    .page-nav li {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      border-right: 2px solid black;
      float: left;
    }

    .page-nav li:last-child{
    border: 0;
}

    .page-nav ul {
      justify-content: center;
    }

    .page-nav {
      height: 50px;
    }

    .page-nav p {
      display: none;
    }
}

/* page header */

.page-header {
  padding-top: 100px;
  text-transform: uppercase;
  text-align: center;
}

.page-header h1 {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid black;
  padding-top: 200px;
  max-width: 10rem;
  justify-content: center;
  display: inline;
  font-size: 3rem;
}

.page-header p {
  font-size: 1.5rem;
}

section {
  padding-top: 3.5rem;
}

/* main layout */

.container-content p, .container-content h2 {
  margin-left: auto;
  margin-right: auto;
}

/* styling for the section content */


section, .header-content {
  padding-left: 5%;
  padding-right: 5%;
}

.container-content h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

/* background colours for sections */


/* image gallery media queries and size overrides */

.image-gallery-container .container-content .content {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      column-gap: 40px;
}

.image-gallery-container .an-image {
  column-span: 1;
  border: 1px solid rgb(196, 196, 196);

}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 950px) {
  .image-gallery-container .container-content .content {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  .image-gallery-container .an-image {
    padding-top: 0.1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 640px) {
  .image-gallery-container .container-content .content {
    margin-left: auto;
    margin-right: auto;
  }
}

/* form styling */

input, label {
  text-align: center;
  margin-top: 0.5rem;
  width: 10rem;
}

label {
  margin-right: 2rem;
  display: inline-block;
}

/* footer */

footer {
  padding-top: 0.1rem;
  background-color: rgb(195, 195, 195);
  position: relative;
  height: 5rem;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
}
